[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
pandas = "*"
requests = "*"
progress= "*"
num2words= "*"
ratelimit = "*"
gensim = "*"
wordsegment = "*"
yappi = "*"
sphinx = ">=3.1.2"

[requires]
python_version = ">=3.6"
